@using FoodOrderingSite.PL.Model

@{  
    if (!User.Identity.IsAuthenticated)
    {
        var newUserId = UserContext.GetInstance.AddNotAuthUser();
        FormsAuthentication.SetAuthCookie(newUserId, createPersistentCookie: true);
        Response.Redirect("~");
    }
    var userId = int.Parse(User.Identity.Name);
    var user = UserContext.GetInstance.GetUserById(userId);
    var basket = UserContext.GetInstance.Basket(userId);
}

<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/Main.css" rel="stylesheet" />
    <link href="~/Css/Index.css" rel="stylesheet" />
</head>
<body class="bg">
    <!-- Header -->
     @{ if (User.IsInRole("Аdministrator") || User.IsInRole("TopAdministrator"))
        {
    <header class="navbar navbar-dark bg-danger">
             <div>
                 <span>Панель администратора</span>
                 <form class="d-inline" method="get" action="~/Management/AllOrders.cshtml">
                     <button class="btn btn-dark">Заказы</button>
                 </form>
                 <form class="d-inline" method="get" action="~/Management/AllProducts.cshtml">
                     <button class="btn btn-dark">Продукты</button>
                 </form>
                 <form class="d-inline" method="get" action="~/Management/Product.cshtml">
                     <button class="btn btn-dark">Новый продукт</button>
                 </form>
             </div>
     </header>
        }
     }
    <header class="navbar navbar-dark bg-primary">
        <div>
            <a href="~/Index.cshtml"><h2>МНОГО ВКУСНО БЫСТРО<span class="badge badge-secondary">НЯМ</span></h2></a>
        </div>
        <div>
            @{
                if (User.IsInRole("NotAauthorized"))
                {
                    <form class="d-inline" method="get" action="~/Common/Login.cshtml">
                        <button type="submit" class="btn btn-success">Войти</button>
                    </form>
                }
                else
                {
                    <h3 class="d-inline">Привет @user.Name! </h3>
                    <form class="d-inline" method="get" action="~/Methods/SignOut.cshtml">
                        <button type="submit" class="btn btn-success">Выйти</button>
                    </form>
                }
            }
            <form class="d-inline" method="get" action="~/Common/Basket.cshtml">
                <button type="submit" class="btn btn-success">
                    Корзина
                    <span id="basketCount" class="badge badge-light">@basket.Count()</span>
                </button>
            </form>
        </div>
    </header>
    <!-- Header -->

    @RenderBody()

    <!-- Footer -->
    <footer class="font-small bg-primary text-white footer">
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright: options.max@mail.ru
        </div>
    </footer>
    <!-- Footer -->
</body>
</html>
