@{
    Layout = "Layout/_MainLayout.cshtml";
}

@* куда нибудь убрать *@
<link href="~/Css/Index.css" rel="stylesheet" />


<div class="container">
    <div class="row">
        <div class="col-3" style="background-color:burlywood">
            <button type="button" class="btn btn-warning category">Пицца</button>
            <button type="button" class="btn btn-warning category">Суши</button>
            <button type="button" class="btn btn-warning category">Напитки</button>
            <button type="button" class="btn btn-warning category">Разное</button>
        </div>
        <div class="col-9" style="background-color:forestgreen; padding:0">
            <div class="product">
                <div class="product_content">
                    <div><h3>Товар 1</h3></div>
                    <img class="product_img" src="https://www.tokyo-city.ru/goods/1sushi_sake_gurme.jpg" />
                    <h5>
                        Вкусный апетитный суша бери и кушай
                    </h5>
                </div>
            </div>
            <div class="product">
                <div class="product_content">
                    1
                </div>
            </div>
            <div class="product">
                <div class="product_content">
                    1
                </div>
            </div>
            <div class="product">
                <div class="product_content">
                    1
                </div>
            </div>
            <div class="product">
                <div class="product_content">
                    1
                </div>
            </div>
        </div>
    </div>
</div>


